<h3>
    Present Value Calculation
</h3>
<hr/>
<div>
    The calculation performed by this application is calculating present value. </div> 
    <div>The definition of present value from <a href="https://www.investopedia.com/terms/p/presentvalue.asp">Investopedia</a> is "Present value (PV) is the current value of a future sum of money or stream of cash flows given a specified rate of return."  
</div>
<img src="../../assets/PV_Calculation.png">
<div>By setting the FV to $1,000,000, n to the years between current age and millionaire age, and assuming a rate of return of 7%, which is the historical average for the  <a href="https://en.wikipedia.org/wiki/S%26P_500_Index">S&P 500</a>,
we can calculate the PV. </div><div> PV is the present value you would need in the market to reach $1,000,000.</div>