.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis-title {
    fill: none;
    stroke: rgb(148, 25, 25);
    stroke-width: 0.5px;
}

.line {
    fill: powderblue;
    stroke: steelblue;
    stroke-width: 10.5px;
}


