<mat-toolbar color="primary">
  <a routerLink="/home" routerLinkActive="active" class="navBarItem" mat-button>Home</a>
  <a routerLink="/info" routerLinkActive="active" class="navBarItem" mat-button>Calculation Info</a>
  <a routerLink="/resrouces" routerLinkActive="active" class="navBarItem" mat-button>Additional Resources</a>
  <span style="flex:1"></span>
  <a style="text-align: right;" href="https://github.com/ErnestBaier/MillionaireApp" mat-button>Github</a>
</mat-toolbar>
<div style="text-align: center;">
  <router-outlet></router-outlet>
</div>